.header {
	background-color: #4D6A7A;
	padding: 2rem;
	text-align: center;
	color: rgb(214, 214, 214);
}

.header h1 {
	margin-top: 4rem;
	font-size: 3rem;
	color: #fff;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: transparent;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 1rem;
}

.nav li a:hover {
	background-color: #ffffff33
}