.main {
  max-width: 784px;
  margin: auto;
  padding: 10px;
  /* font-family: "Lora", serif; */
}

.main a {
  background: linear-gradient(
    to bottom,
    var(--link-color) 0%,
    var(--link-color) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: var(--text-color);
  text-decoration: none;
  transition: background-size 0.2s ease-in-out;
  padding: 0 4px;
}

.main a:hover {
  background-size: 4px 50px;
}

.main blockquote {
  position: relative;
  color: #555;
  z-index: -5;
}

.main blockquote::before {
  color: var(--link-color);
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  position: absolute;

  content: open-quote;
  top: 0.8rem;
  left: -1rem;
}

.main footer {
  padding: 2rem 0;
  text-align: center;
}

.main img {
  width: 100%;
}
